.App {

  width: 100%;
  display: flex;
  align-items:start;
  gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .App {
    flex-direction: column;
    max-width: 1000px;
  }
}
@media screen and (max-width: 1000px) {
  .App {
    max-width: 600px;
    padding: 16px;  
  }
}
@media screen and (max-width: 600px) {
  .App {
    max-width: calc(320px - 32px); 
  }
}